version: '3'

services:
  db:
    image: postgres
    container_name: vk-postgres
    env_file:
      - config/db.env
    ports:
      - "0.0.0.0:15432:5432"

  groups-loader:
    build: .
    image: go-vk-tracker
    container_name: vk-tracker
    depends_on:
      - db
